html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: none;
}

main {
    overflow-y: hidden;
    height:100%;
}

.warning_l {
    background-color: #6a93e6;
    color: white;
}

.warning_d {
    background-color: #5c81cc;
    color: white;
}

.ongoing_l {
    background-color: #3d3d99;
    color: white;
}

.ongoing_d {
    background-color: #333380;
    color: white;
}

.normal_l {
    background-color: #fff;
    color: #000;
}

.normal_d {
    color:#000;
    background-color:#dfe5e8;
}


.table_col_1 {
    width: auto;
    text-align: left;
    border-width: 0;
}

.table_col_2 {
    width: 25%;
    text-align: left;
    border: none;
}

.table_col_3 {
    width: 20%;
    text-align: left;
    border: none;
}


.milestone_name {
    font-size: 70px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.milestone_deadline {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

.milestone_countdown {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

#sidebar {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sidebar_element {
    flex-grow: 1;

}

.sidebar_small {
    font-size: 20px;
    font-weight: bold;
}

.sidebar_big {
    width: 100%;
    text-align: right;
    font-size: 50px;
    /*margin-top: 20px;*/
    line-height: 95%;
}

#date_today, #time_today {
    font-size: 45px;
    line-height: 95%;
}

.marker_future {
    z-index: 1;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #b3c3ff;
    border: 4px solid #2e2e65;
}

.marker_past {
    z-index: 1;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #2e2e65;
    border: 4px solid #2e2e65;
}

.marker_node {
    z-index: 1;
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: white;
}

.marker_name {
    z-index: 1;
    height: 30px;
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#rocket_icon {
    width: 100px;
    height: auto;
    position: fixed;
    right: -18px;
    bottom: 80px;
    transform: rotate(-110deg);
}
